---
const { interests } = Astro.props;
---

<article
  class="border border-white/20 rounded-2xl p-6 bg-black text-white shadow-[0_2px_12px_rgba(255,255,255,0.05)] min-h-[200px]"
>
  <h3 class="text-xl font-semibold mb-4 font-serif">Intereses</h3>
  <ul class="space-y-4">
    {
      interests.map((interest) => (
        <li>
          <h4 class="text-lg font-bold">{interest.name}</h4>
          <ul class="flex flex-wrap gap-2 mt-2">
            {interest.keywords.map((kw) => (
              <li class="bg-white text-black text-xs px-3 py-1 rounded-full shadow-sm">
                {kw}
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</article>
