---
import ThemeToggle from "./utils/ThemeToggle.astro";
---

<header
  class="fixed top-2 left-1/2 -translate-x-1/2 z-50 w-[90%] max-w-5xl px-6 py-2
         flex justify-between items-center rounded-full border border-[rgba(0,0,0,0.04)]
         backdrop-blur-md bg-white/10 dark:text-white text-black print:hidden shadow-[0_6px_20px_rgba(0,0,0,0.12)]"
>
  <!-- Logo o nombre -->
  <h1 class="text-lg font-bold tracking-wide text-yellow-600">SJSG</h1>

  <!-- Navegación -->
  <nav>
    <ul class="flex gap-6 text-sm font-medium">
      <li>
        <a href="#" class="hover:text-yellow-500">Inicio</a>
      </li>
      <li><a href="#" class="hover:text-yellow-500">Acerca</a></li>
      <li><a href="#" class="hover:text-yellow-500">Contacto</a></li>
    </ul>
  </nav>
</header>
